
<div id="container">
    <div  id="formDiv">
    <h2 style="margin-bottom: 30px;"><img src="images/add-user.png" style="height: 35px;width: 35px;" alt=""> Create An Acount</h2>
    <form action="/signUp_user" method="post">
   <h5> Name </h5>
    <input type="text" required class="formInput" name="name" style="margin-bottom: 10px;height: 25px;background-color: rgb(234, 240, 242);width: 250px;border-radius: 5px;"><br>
<h5> Username </h5>
    <input type="email" required class="formInput" name="userName" id="" style="margin-bottom: 10px;height: 25px;background-color: rgb(234, 240, 242);width: 250px;border-radius: 5px;"><br>
   <h5> Create Password </h5>
    <input type="password" required class="formInput" name="password" id="" style="margin-bottom: 20px;height: 25px;background-color: rgb(234, 240, 242);width: 250px;border-radius: 5px;"><br>
   <h5> Confirm Password </h5>
    <input type="password" required class="formInput" id="" style="margin-bottom: 20px;height: 25px;background-color: rgb(234, 240, 242);width: 250px;border-radius: 5px;"><br>
    <button type="submit" class="btn" style="background-color: rgb(25,113,185);color: whitesmoke;">SignUp </button></form>
</div>
</div>