<div id="welcomeDiv" style="margin-left: 50vw;margin-top: 100px;">
    <h1><img src="images/profile.png" style="height: 100px;width: 100px;" alt=""> Welcome <%=user%> !</h1>

   <a href="/resetPass"> <button type="button" class="btn btn-primary" style="margin: 100px;">Reset Password </button></a>
  <a href="/signIn">  <button  type="button" href="/signIn" class="btn btn-danger">Log Out </button></a>
</div>